classy.smarbiz.sbs {
  encode zstd gzip

  @api path /api/*
  reverse_proxy @api api:8000

  redir /admin.html /admin permanent
  redir /coach.html /coach permanent
  redir /staff.html /staff permanent
  rewrite /admin /staff.html
  rewrite /coach /staff.html
  rewrite /staff /staff.html

  root * /srv/public
  try_files {path} {path}/ /index.html
  file_server

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    X-Frame-Options SAMEORIGIN
  }
}
